

.song p{
  font-family: 'Droid Sans Mono', monospace, courier;
  white-space: pre;
	margin-bottom: 1em;
  font-size: 14px;
}

.song .chord {
  position: relative;
  top: -1.2em;
  display:inline-block;
  width: 0;
  overflow:visible;
  white-space: nowrap;
  text-shadow:#CCC -1px 1px;
  font-weight:bold;
}
