%ul{ class: args[:class] }
	%li
		%i.fa.fa-home
			%a{ href: '/' }
				Home
	%li
		%i.fa.fa-user
			%a{ href: '/about' }
				About
	%li
		%i.fa.fa-list
			%a{ href: '/blog' }
				Blog
	%li
		%i.fa.fa-envelope
			%a{ href: '/contacts/new' }
				Contact